body {
  margin: 0;
}

h1, h2, h3 {
  margin: 0;
}

.waviy {
  position: relative;
  height: 150px;
  line-height: 2;
}
.waviy span {
  position: relative;
  display: inline-block;
  font-size: 75px;
  color: #EEEEEE;
  font-family: 'Anton', sans-serif;
  text-transform: uppercase;
  animation: flip 2s infinite;
  animation-delay: calc(.2s * var(--i))
}
@keyframes flip {
  0%,80% {
    transform: rotateY(360deg)
  }
}

#title, #core-values {
  background-color: #541212;
  text-align: center;
}

#projects {
  background-color: #541212;
  text-align: center;
  padding-bottom: 70px;
}

.top-container {
  background-color: #EEEEEE;
  padding-bottom: 50px;
}

#history {
  background-color: #EEEEEE;
  padding-bottom: 1px;
}
p {
  color: #0F0E0E;
  margin: 0;
}

.theme {
  font-family: 'Dongle', sans-serif;
  font-size: 100px;
  padding-top: 90px;
}

.console-container {
  font-family: 'Dongle', sans-serif;
  font-size: 10em;
  text-align: center;
}

.console-underscore {
  display: inline-block;
  position: relative;
  top: -0.14em;
  left: 10px;
}

.cross-image {
  height: 150px;
  width: 140px;
}

.middle-container {
  padding: 50px 0;
}

.sub-title {
  font-family: 'Anton', sans-serif;
  color: #8B9A46;
  font-size: 50px;
  letter-spacing: 3px;
}

ul, .purpose-statement {
  list-style-type: none;
  line-height: 1.5;
  font-family: 'Dongle', sans-serif;
  font-size: 43px;
  color: #EEEEEE;
}

.purpose {
  padding-top: 27px;
  margin: 0 7%;
}

.history-statement {
  list-style-type: none;
  line-height: 1.5;
  font-family: 'Dongle', sans-serif;
  font-size: 43px;
  color: #0F0E0E;
}

.padding-top-center {
  padding-top: 50px;
  text-align: center;
}

.program-row {
  width: 70%;
  margin: 75px auto 80px auto;
  text-align: left;
}

.baptism-img {
  float: left;
  margin-right: 30px;
  border-radius: 50%;
  height: 250px;
  width: 250px;
}

.baptism-text {
  list-style-type: none;
  line-height: 1;
  font-family: 'Dongle', sans-serif;
  font-size: 43px;
  color: #0F0E0E;
}

.baptism-title {
    font-family: 'Anton', sans-serif;
    color: #8B9A46;
    font-size: 25px;
    letter-spacing: 2.5px;
}

.mission-img {
  float: right;
  margin-left: 30px;
  border-radius: 50%;
  height: 250px;
  width: 250px;
}

.construct-img {
  margin-top: 50px;
  border-radius: 50%;
  height: 150px;
  width: 160px;
}

.project-statement {
  line-height: 1.5;
  font-family: 'Dongle', sans-serif;
  font-size: 43px;
  color: #EEEEEE;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0 7%;
}

#socials {
  background-color: #EEEEEE;
}

.socials {
  padding: 50px 0 20px;
  text-align: center;
}

.copyright {
  font-size: 0.95rem;
  padding: 30px 0;
}

a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #541212;
}

.btn {
  background: #0f0f0f;
  background-image: -webkit-linear-gradient(top, #0f0f0f, #27e8b8);
  background-image: -moz-linear-gradient(top, #0f0f0f, #27e8b8);
  background-image: -ms-linear-gradient(top, #0f0f0f, #27e8b8);
  background-image: -o-linear-gradient(top, #0f0f0f, #27e8b8);
  background-image: linear-gradient(to bottom, #0f0f0f, #27e8b8);
  -webkit-border-radius: 14;
  -moz-border-radius: 14;
  border-radius: 14px;
  font-family: Arial;
  color: #f7d036;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #b8b4b4;
  background-image: -webkit-linear-gradient(top, #b8b4b4, #0f9451);
  background-image: -moz-linear-gradient(top, #b8b4b4, #0f9451);
  background-image: -ms-linear-gradient(top, #b8b4b4, #0f9451);
  background-image: -o-linear-gradient(top, #b8b4b4, #0f9451);
  background-image: linear-gradient(to bottom, #b8b4b4, #0f9451);
  text-decoration: none;
}
